#about {
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
  }

@media screen and (min-width: 992px) {
  #about {
     width: 80%;
  }
}
  
.tech {
  margin: 10px;
}
  
.user {
    text-align: center;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.user p { 
    font-size: 16px;
}
  
@media screen and (min-width: 992px) {
  .user {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}
.user-details {
    text-align: center;
    margin: 5px auto;
}