#particles-js {
    background: #2e78d2;
    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .header {
    z-index: 1;
    text-align: center;
    color:#FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
    
.header.site-title {
      font-size: 50px;
      display: block;
      line-height: 1;
      color: #FFF;
}
.header.site-description {
      font-size: 10px;
      display: block;
      line-height: 1;
      color: rgb(185, 59, 59);
      margin-top: 10px;
}

canvas {
    display: block;
    position: fixed;
    z-index:-10;
}

#particles-js.particles-js-canvas-el {
      width:100% !important;
      height:100vh !important;
}