---
layout: default
---
<div class="home">

    <div id="main" class="call-out"
         style="background-image: url('{{ site.blog_page_img | relative_url }}');
                background-size: cover;
                " >
        <h1> {{ site.blog_page_text | default: "Update <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>

    {% include blog/blog.liquid %}

</div>
